body {
background: chartreuse;
}

footer {
  position: static; /* Фиксируем подвал */
  bottom: 0;  /* Всегда внизу, на виду */
  width: 100%; /* Занимает всю ширину экрана */
  margin:20px
}

.center {
  color: blue;
  text-align: center;
}

.parent {
      display: flex;
      align-items: center;
      justify-content: center;
}

table.table {
   width: 90%;
}
.photo {
   height: 30%;
   padding: 40px;
}
.info {
   padding: 40px;
   height: 40%;
}

.bord {
    align-content: center;
    margin:20px 0 20px 0;

}