{% extends 'base.html' %}

{% block title %}
   О нас
{% endblock %}

{% block content %}

<h1>Комплексные обеды в офис</h1>  - удобное и современное решение вопроса питания,
а так же экономия личного и рабочего времени.

<h1>Состав.</h1>

<p>Комплексный обед  состоит  из салата, супа, второго блюда  и выпечки.
Все блюда готовятся в день отправки с соблюдением всех технологических процессов.
    Каждое блюда доставляются в индивидуальной упаковке в комплекте с пластиковыми приборами.</p>

<h1>Ассортимент.</h1>

<p>Каждый день Мы предлагаем  3 различных варианта комплексного обеда на выбор.
    Меню обедов очень разнообразно, имеет сбалансированную пищевую ценность, постоянно добавляются новые и вкусные блюда.</p>

<h1>Условия доставки.</h1>

<p>Минимальное количество комплексных обедов для заказа обсуждается  индивидуально,
    в зависимости от района города, нужного время доставки, количества комплексов. Заявки на следующий день приниматься до 18-00, на текущий день до 09-30.</p>

<h1>Как заказать?  </h1>

<p>Заявку на комплексный обед  с доставкой можно сделать через наш e-mail,
    корзину заказов на сайте, whatsapp или телефон.</p>
{% endblock %}