<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наш блог о вкусной еде</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a class="nav-link" aria-current="page" href="/">Комплексный обед</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="//blog">Блог о вкусной еде</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/contacts/">Контакты</a>
		</li>
	</ul>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Супы первые блюда
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Во всех кухнях мира первым блюдам уделяли особое внимание.</strong>

                    Во многих семьях рецепты горячих жидких кушаний передаются от мамы к дочке. Пропорции ингредиентов, последовательность их добавления в кастрюлю, способ подачи – рецепты супов отличаются друг от друга кардинально. В русской кухне пользуются популярностью гороховый и грибной супчики, украинские кулинары виртуозно готовят борщ с пампушками, на Кавказе знают сотни способов приготовления харчо и шурпы, из Италии к нам пришел жгучий гаспачо и сырные крем-супы. Они подаются в холодном и горячем виде, с гренками, сухариками, тостами со сливочным маслом, ломтиками белого хлеба. Кастрюли похлебки хватит на целую семью!

                Супчики варят на рыбном, мясном, костном и овощном бульоне, добавляют картофель, макароны, рис, горох, гречневую крупу, фасоль, крапиву и десятки других ингредиентов. Особый аромат жидкому кушанью придают душистые специи и пряности, не обойтись и без свежей зелени. Подают его в красивой супнице, прямо за столом наполняя тарелки.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Салаты
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Вкусы их неповторимы и многообразны. </strong>Существуют рецепты салатов, которые необходимо съесть сразу или можно законсервировать на зиму. Состав их может включать множество ингредиентов: всевозможные сорта мяса (свинина, баранина, говядина), птицу (курица, индейка, гусь или утка), морепродукты (кальмары, мидии, креветки), любую рыбу, все виды овощей, грибы, яйца, фрукты, орехи, ягоды и многое другое. Заправка - обязательная составляющая салатиков.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Вторые блюда
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Вторые горячие блюда. </strong>
                    Каши – огромный класс вторых горячих блюд. Их варят на молоке, воде и бульонах. Для вегетарианцев это источник клетчатки, углеводов и белка, для мясоедов – углеводный гарнир. С ними подают соусы, подливки, котлеты и жареное мясо (или запеченное), рагу. Чтобы, разогревая кашу, преподнести ее по-новому, запеките ее в духовке под сыром, перемежая овощными или мясными слоями (или обоими, так вкуснее).
                    Мясо – обязательный «момент» мужского меню. Его обжаривают в масле и жире, запекают в духовом шкафу, тушат в горшочках или мультиварке (часто с картофелем и другими пасленовыми или кореньями). Вторые горячие блюда из курицы, говядины, свинины, баранины и дичи по-домашнему вкусны со свежими салатами, а из теплого им подходят пюре, паста (макароны) и картофель (хотя медики говорят, что эти продукты в паре плохо усваиваются организмом).
                    Кабачки, баклажаны, тыква, картошка, помидоры, многообразие капусты, лук, морковка и свекла – база прекрасных рецептов «на после супа».
                    Осваивайте базовые варианты домашних рецептов с пошаговыми фото, изучайте кулинарные традиции разных народов, и со временем вы сможете вносить изюминку в привычные кушанья, превращая их в изысканный пир.
          </div>
        </div>
      </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>