{% extends 'base.html' %}

{% block title %}
    Обеды, быстро, вкусно и недорого
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Премиум обед - Понедельник</h5>
            <p class="card-text">
Салат Зимний (100гр.)<br>
Суп гороховый с мясом и гренками (250гр.)<br>
Азу из свинины (50/75гр.)<br>
Греча с грибами (150гр.)<br>
Улитка с карамелью (50гр.)<br>
Хлеб (2кус.), майонез</p>
            <a href="#" class="btn btn-primary">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Стандартный обед - Понедельник</h5>
            <p class="card-text">
Салат Рыжик (100гр.)<br>
Суп гороховый с мясом и гренками (250гр.)<br>
Филе куриное с сыром (110гр.)<br>
Перо с томатом и фасолью (150гр.)<br>
Слойка с апельсином (75гр.)<br>
Хлеб (2кус.), майонез</p>
            <a href="#" class="btn btn-primary">Заказать</a>
          </div>
        </div>
      </div>
         <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Премиум обед - Вторник</h5>
            <p class="card-text">
                Салат Зимний (100гр.)<br>
                Суп Рассольник ленинградский (250гр.)<br>
                Филе куриное в томатно-сливочной панировке (110гр.)<br>
                Спагетти Сальса (150гр.)<br>
                Сметанник (100гр.)<br>
                Хлеб (2кус.), майонез</p>
            <a href="#" class="btn btn-primary">Заказать</a>
          </div>
        </div>
      </div>
         <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Стандартный обед - Вторник</h5>
            <p class="card-text">
                Салат Капустный (100гр.)<br>
                Суп Рассольник ленинградский (250гр.)<br>
                Курочка жареная (110гр.)<br>
                Греча (150гр.)<br>
                Кекс йогуртовый (70гр.)<br>
                Хлеб (2кус.), майонез</p>
            <a href="#" class="btn btn-primary">Заказать</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}